/*
ARABIC LANGUAGE PAGES
VERSION: 1.0
DATE: OCTOBER 2010
AUTHOR: KAREN LAKE
EMAIL: KAREN LAKE@MONASH.EDU

*/
/*------------------------------------ */
/*GLOBAL*/
/*------------------------------------ */

* {
	margin: 0;
	padding: 0;
	border: 0;
	}
body {
	margin: 0;
	color:#2e3332;
	background: #fbfbfb url(../images/body.gif) repeat-x;
	font-family: Georgia, "Times New Roman", Times, serif;
	behavior: url("/karen-tests2/arabic-language/assets/styles/csshover3.htc");
}
p {
	padding:0;
	margin-bottom:1.5em;
	font-size:1.1em;
	text-align:right;
	}
a {
	outline:none;
	font-size:0.9em;
	}
ul {
	margin: 0 0 1.5em 1.6em;
	font-size:1.1em;
	padding:0;
	}
li {
	margin-bottom: 0.3em;
	font-size:1.1em;
	text-align:right;
	margin-right:18px;
	direction: rtl;
	}
	
/*------------------------------------ */
/*NAVIGATION*/
/*------------------------------------ */

a:link, a:visited {
	color:#000;
	text-decoration:underline;
	}
a:hover, a:active {
	color:#1e4b8f;
	text-decoration:underline;
	}
.top-button:hover {
	background-color:#1e4b8f;
}
.top-button a:hover {
	background-color:#1e4b8f;
}
.top-button {
	margin:0 0 .7em .6em;
	padding:.2em .5em .2em .5em;
	float:left;
	display:inline;
	background-color:#666666;
}
#top-links {
	margin: 0.5em 0 1em -1.2em;
	color:#FFFFFF;
	padding-bottom:2.5em;
	font-size:1em;
}
#top-links a {
	color:#FFFFFF;
	text-decoration:none;
}
#top-links .top-button:hover {
	background-color:#1e4b8f;
	text-decoration:none;
	}
#language {
	margin:50px 0 26px 5px;
	color:#FFFFFF;
	text-decoration:none;
	background-color:#1e4b8f;
	height:20px;
	padding:4px 8px 4px 8px;
	font-size:12px;
	text-align:center;
	float:left;
	font-size:1em;
}
#language a {
	text-decoration:none;
	color:#FFFFFF;
}
#language:hover {
	text-decoration:none;
	background-color:#000000;
}


/*------------------------------------ */
/*NAV ROLL OVERS*/
/*------------------------------------ */

body#index a#index,
body#index-e a#index-e,
body#success a#success,
body#success-e a#success-e,
body#study a#study,
body#study-e a#study-e,
body#students a#students,
body#students-e a#students-e,
body#overseas a#overseas,
body#overseas-e a#overseas-e,
body#list a#list,
body#list-e a#list-e,
body#life a#life,
body#life-e a#life-e,
body#global a#global,
body#global-e a#global-e,
body#contact a#contact,
body#contact-e a#contact-e,
body#campuses a#campuses,
body#campuses-e a#campuses-e,
body#academic a#academic,
body#academic-e a#academic-e {
	color:#000000;
}

/*------------------------------------ */
/*QUOTE BOX*/
/*------------------------------------ */

.quote-box {
	margin:0 0 0 -62px;
	float:left;
	position:relative;
	top: 590px;
	background-color:#1e4b8f;
	display:inline;
	padding:.6em 1.5em .6em .6em;
	width:566px;
	height:160px;
	}
.start-quote {
	margin:0 -5em 0 .5em;
	display:inline;
	position:relative;
	vertical-align:bottom;
	right:3em;
	}
.end-quote {
	margin:0 1em 0 -2.5em;
	display:inline;
	vertical-align:bottom;
	}
.quote-text {
	position:relative;
	right:2.2em;
	color:#fff;
	font-size: 1.3em;
	line-height:1.8;
	margin:0;
	display:inline;
	padding-left:2.5em;
	text-align:right;
}



/*------------------------------------ */
/*TEXT CLASSES*/
/*------------------------------------ */
	
h1 {margin: 0.7em 0 0.3em 0;  
	font-size: 3.4em;/*16x2.8=44.8px*/ 
	line-height: 1.636em;/* 16x1.636=36px */
	color:#1e4b8f;
	text-align:right;
	text-indent:.3em;
}
h1,h2,h3,h4 {
	font-weight:normal;
	color:#1e4b8f;
	margin: 0 0 0.5em 0;
	}
h2 {
	font-size: 2.2em;
	line-height:1.2;
	text-align:right;
	}
h3 {
	font-size: 1.3em;
	line-height:1.1;
	text-align:right;
	}
h4 {
	font-size: .9em; /*16x1.3=20.8px*/
	font-weight:bold;
	text-align:right;
	}
.caption {
	margin-top:-7px;
	background-color: #666666;
	padding:10px 6px 3px 3px;
	font-size:1em;
	height:2.6em;
	width:591px;
	color:#fff;
	text-align:right;
	}
.caption-portrait {
	margin-top:-7px;
	background-color: #666666;
	padding:10px 3px 3px 6px;
	font-size:1em;
	height:1.2em;
	width:391px;
	color:#fff;
	text-align:right;
	}
.footnote {
	padding:0;
	margin:5px 0 5px 0;
	font-size:.6em;
	line-height:1.0;
	}
#indent {
	margin: .5em 0 0 1.5em;
	}
.subscript {
	font-size:.6em;
	vertical-align:top;
}
.url {
	font-size:.8em;
	font-weight:bold;
	margin:.3em 0 .3em 0;
	color:#1E4B8F;
}
.url a {
	text-decoration:none;
	color:#1E4B8F;
}
.url a:hover {
	text-decoration:underline;
	color:#000;
}

	
/*------------------------------------ */
/*STRUCTURE*/
/*------------------------------------ */
	
#banner {
	width:970px;
	height:68px;
	margin:0 auto;
	padding-top:3px;
	padding: 3px 0 0 10px;
	}
#banner a, #banner a:visited, #banner a:link, #banner a:active {
	text-decoration:underline;
	color: #323393;
	padding-top: 3px;
	}
#banner img {
	float: left;
	overflow: hidden;
	border: 0;
	margin: 0;
	padding: 0;
	}
.clear {
	clear:both;
	}
.image {
	float:left;
	margin:-54px 0 30px 5px;
	display: inline;
	}
.image-p {
	float:left;
	margin:-140px 26px 30px 8px;
	display: inline;
	}
.image-melb {
	float:left;
	margin:133px 0 30px -57px;
	display: inline;
	}
.g160, .g320, .g480, .g640, .g800, .g960, .g80, .g240, .g400, .g560, .g720, .g880,
.g160{width:150px; }
.g160 img {border:1px solid #cccccc; padding:3px; background-color:#efefef;}
.g320 {width:310px;}
.g320 h2 {color:#035292;}
.g400 img {border:1px solid #cccccc; padding:3px; background-color:#efefef; margin-top:0px;}
.g480{width:470px;}
.g480 img {border:1px solid #cccccc; padding:3px; background-color:#efefef; margin-top:5px;}
.g640{width:630px;}
.g800{width:790px;}
.g80 {width:70px;}
.g240{width:230px;}
.g240 img {border:1px solid #cccccc; padding:3px; background-color:#efefef;}
.g400{width:390px;}
.g560{width:550px;}
.g720{width:710px;}
.g880{width:870px;}
.g960 {float:left; display: inline; margin-top:-100px; margin-left:10px; width:950px;  }

.main {
	margin:11px auto 0 auto;
	width:950px;
	padding-top:5px;
	background-color:#fff;
	line-height:18px;
	}
.main-top {
	margin:0 auto;
	width:100%;
	}
#rule {
	border-top:2px solid #1e4b8f;
	margin: 0 1em 0.5em 1em;
	}
.text-intro {
	width:500px;
	padding:0 10px 0 10px;
	float:right;
	margin:130px 15px 0 0;
	display:inline;
	}
.text-column {
	width:290px;
	padding:0 10px 25px 10px;
	float:right;
	margin:126px 15px 5px 0;
	display:inline;
	}
.text-column-narrow {
	width:220px;
	padding:0 10px 0 10px;
	float:right;
	margin:0 15px 0 0;
	display:inline;
}
.text-column-narrow-ni {
	width:280px;
	padding:0 10px 0 10px;
	float:right;
	margin:130px 15px 0 0;
	display:inline;
}
.text-column-short {
	width:277px;
	top: 120px;
	padding:80px 10px 15px 10px;
	float:right;
	display:inline;
	position:relative;
	margin-right:15px;
	}


/*------------------------------------ */
/*FOOTER*/
/*------------------------------------ */

#footer-wrap {
	height:33px; /* .push must be the same height as .footer */
	background:none repeat scroll 0 0;
	margin:auto;
}
#footer {
	height:38px;
	border-top:solid 2px #1e4b8f;
	padding: 5px 0 0 10px;
	margin:auto;
	width:940px;
	font-size:0.8em;
	color:#FFFFFF;
	text-align:center;
	background-color:#959595;
}
#footer a:link, #footer a:visited {
	text-decoration:underline;
	color: #fff;
}
#footer a:hover, #footer a:active {
	color: #1e4b8f;
	text-decoration:underline;
}
