/***** Button 1 *****/

.scroll-link.button-1 {
	display: inline-block;
	height: 53px;
	margin: 0;
	padding: 19px 18px 0 18px;
	font-family: 'signikaregular', sans-serif;
    	font-size: 18px;
    	color: #fff;
    	line-height: 18px;
    	text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
}

.scroll-link.button-1.active {
	background: #FF6608;
	color: #fff;
}

.scroll-link.button-1:link,
.scroll-link.button-1:visited,
.scroll-link.button-1:hover {
	background: #FF6608;
	color: #fff;
}

/*
.button-1 {
	display: inline-block;
	height: 53px;
	margin: 0;
	padding: 19px 18px 0 18px;
	font-family: 'signikaregular', sans-serif;
    	font-size: 18px;
    	color: #fff;
    	line-height: 18px;
    	text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
}

.button-1:hover, .button-1:focus, .button-1.active {
	outline: none;
	background: #fff;
	color: #FF6608;
	text-shadow: none;
	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
    	border-radius: 4px;
    	-moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);
}
*/


/***** Button 2 *****/

.button-2 {
	display: inline-block;
	vertical-align: middle;
	height: 62px;
	margin: 0 0 0 30px;
    padding: 22px 30px 0 30px;
    background: #FF6608;
    font-family: 'signikaregular', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
}

.button-2:hover, .button-2:focus {
	background: #FF6608;
	color: #fff;
}


/***** Button 3 *****/

.portfolio-filters a {
    display: inline-block;
    height: 53px;
    margin: 5px 4px;
    padding: 19px 18px 0 18px;
    background: #555;
    font-family: 'signikaregular', sans-serif;
    font-size: 18px;
    color: #efefef;
    line-height: 18px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);
}

.portfolio-filters a:hover, .portfolio-filters a:focus, .portfolio-filters a.active {
	outline: none;
	background: #fff;
	color: #FF6608;
}


/***** Social button 1 *****/

.button-social-1 {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0 2px 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.button-social-1:hover {
	outline: none;
	background-color: #FF6608;
}

.button-social-1.button-facebook-1 { background: #FF6608 url(../img/icons/social/facebook.png) center center no-repeat; }
.button-social-1.button-google-plus-1 { background: #FF6608 url(../img/icons/social/google-plus.png) center center no-repeat; }
.button-social-1.button-twitter-1 { background: #FF6608url(../img/icons/social/twitter.png) center center no-repeat; }
.button-social-1.button-pinterest-1 { background: #FF6608url(../img/icons/social/pinterest.png) center center no-repeat; }



/***** Social button 2 *****/

.button-social-2 {
	display: inline-block;
	height: 47px;
	margin: 0 17px 10px 0;
	padding-left: 47px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
}

.button-social-2:hover {
	outline: none;
	background-color: #FF6608;
}
.button-social-2.button-email-2 { background: ##FF6608 url("../img/icons/email.png") 11px center no-repeat; }

.button-social-2 span {
	display: block;
	height: 47px;
	margin: 0;
	padding: 15px 17px 0 17px;
	background: #777777;
	font-family: 'signikaregular', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

