/* ------------------- Creativity template styles ------------------- 

Original template: https://www.themezy.com/free-website-templates/8-free-minimal-creativity-responsive-template

Copyright: Themezy 

*/



body {
    background: #fff;
    text-align: center;
}

a, a:hover, a:focus {
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

img { max-width: 100%; }

::-moz-selection { background: #ccc; color: #fff; text-shadow: none; }
::selection { background: #ccc; color: #fff; text-shadow: none; }


/***** Top menu *****/

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 28px 0;
	background: #80beb0;
	z-index: 99999;
}

nav .nav-links { text-align: right; }
nav .nav-logo { text-align: left; }

nav .nav-logo a {
	display: inline-block;
	width: 134px;
	height: 43px;
	margin: 7px 0 0 0;
	padding: 0;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -9999px;
}

nav .show-menu {
	display: none;
	margin-top: 15px;
}

nav .show-menu span {
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(../img/icons/menu.png) left top no-repeat;
	cursor: pointer;
}


/***** Top content *****/

.top-content-container {
    margin: 0 auto;
    background: #464c5c;
}

.inner-bg {
	padding: 155px 0 70px 0;
	background: url(../img/top-bg.jpg) left 109px repeat;
}

.top-content-text h1 {
	font-family: 'signikalight', sans-serif;
	font-size: 36px;
	color: #fff;
	line-height: 40px;
	text-transform: uppercase;
	text-shadow: 0 2px 0 rgba(8, 8, 8, 0.4);
}

.top-content-text h1 span.top-content-text-big {
	font-family: 'signikabold', sans-serif;
	font-size: 48px;
	color: #9ccbc0;
	line-height: 52px;
}

.top-content-banner {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: auto;
	max-width: 500px;
}
.top-content-banner-container img { width: 100%; }

.top-content-video {
	position: absolute;
	top: 61px;
	left: 67px;
	width: 436px;
	height: 273px;
	cursor: pointer;
}
.top-content-video img { width: 71px; height: 74px; margin-top: 80px; }

.top-content-video p {
	margin-top: 15px;
	font-family: 'signikabold', sans-serif;
	font-size: 24px;
	color: #fff;
	line-height: 28px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
}

.top-content-video iframe {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 436px;
	height: 273px;
}

.top-content-select {
	margin-top: 40px;
}


/***** Services *****/

.services-container {
    margin: 0 auto;
    padding: 35px 0 55px 0;
    color: #9ea0a6;
}

.services-box {
	margin-top: 30px;
}

.services-box h3 {
	padding: 0 0 4px 0;
	font-family: 'signikasemibold', sans-serif;
	font-size: 24px;
    color: #464c5c;
    line-height: 28px;
}

.services-box p {
	font-family: 'signikalight', sans-serif;
	font-size: 20px;
    line-height: 26px;
}

.services-box .services-box-icon {
    width: 111px;
    height: 111px;
    margin: 0 auto;
}


/***** Portfolio *****/

.portfolio-container {
    margin: 0 auto;
    padding: 45px 0 70px 0;
    background: #80beb0;
    color: #fff;
}

.portfolio h2 {
	font-family: 'signikabold', sans-serif;
	font-size: 60px;
	line-height: 64px;
	text-transform: uppercase;
	text-shadow: 0 2px 0 rgba(8, 8, 8, 0.2);
}

.portfolio p {
	margin-top: 15px;
	padding: 0 120px;
    font-family: 'signikalight', sans-serif;
	font-size: 20px;
    line-height: 26px;
    text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
}

.portfolio-filters {
	padding: 40px 0 30px 0;
}

.portfolio-box {
	position: relative;
	width: 255px;
	margin: 30px 15px 0 15px;
	overflow: hidden;
}

.portfolio-box img {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.portfolio-box-text-container {
	position: absolute;
	bottom: -100px;
	left: 0;
	right: 0;
	width: 255px;
	-o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.portfolio-box-text {
	background: #464c5c;
	-moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
    cursor: pointer;
}
.portfolio-box:hover .portfolio-box-text-container { bottom: 0; }

.portfolio-box-text h3 {
	margin: 0;
	padding: 16px 20px 0 20px;
	font-family: 'signikabold', sans-serif;
	font-size: 16px;
	color: #9ccbc0;
	line-height: 20px;
	text-transform: uppercase;
}

.portfolio-box-text p {
	margin: 0;
	padding: 3px 20px 15px 20px;
	font-family: 'signikasemibold', sans-serif;
	font-size: 12px;
	color: #fff;
	line-height: 16px;
	text-transform: uppercase;
}


/***** Development work *****/

.development-container {
    margin: 0 auto;
    padding: 45px 0 55px 0;
	background: #464c5c;
    color: #fff;
	font-family: 'signikalight', sans-serif;
	font-size: 20px;
	color: #9ea0a6;
    line-height: 26px;
}

.development h2 {
	font-family: 'signikabold', sans-serif;
	font-size: 60px;
	line-height: 64px;
	text-transform: uppercase;
	text-shadow: 0 2px 0 rgba(8, 8, 8, 0.2);
	color: #ffffff;
}

.development p {
	margin-top: 15px;
	margin-bottom: 30px;
    font-family: 'Georgia', serif;
	font-size: 20px;
	font-style: italic;
    line-height: 30px;
    text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
}

.development-box {
	margin-top: 30px;
	padding: 20px;
	border: 2px solid #e7e7e7;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}


.development-box-text {
	float: left;
	text-align: left;
}

.development-box-text p.small {
	font-style: italic;
	font-size: 14px;
	padding-top: 0;
	margin-top: 0;
}

.development-box-text h3 {
	margin: 0;
	padding: 0;
	font-family: 'signikabold', sans-serif;
	font-size: 20px;
	color: #9ccbc0;
	line-height: 24px;
	text-transform: uppercase;
}

.development-box-text p {
	margin: 20px 0 0 0;
}

.development-box-text .development-box-social {
	height: 38px;
	margin-top: 24px;
}




/***** Animation module*****/

.animation-container {
    margin: 0 auto;
    padding: 35px 0 55px 0;
    color: #ffffff;
}

.animation-box {
	margin-top: 30px;
}

.animation-container h2 {
	font-family: 'signikabold', sans-serif;
	font-size: 60px;
	line-height: 64px;
	text-transform: uppercase;
	text-shadow: 0 2px 0 rgba(8, 8, 8, 0.2);
	color: #80beb0;
}

.animation-box h3 {
	padding: 0 0 4px 0;
	font-family: 'signikasemibold', sans-serif;
	font-size: 24px;
    color: #80beb0;
    line-height: 28px;
}

.animation-box p {
	margin-top: 10px;
	padding: 0 10px;
    font-family: 'signikalight', sans-serif;
	font-size: 20px;
    line-height: 26px;
    text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
	color: #555;
}

.animation-box p.small {
	font-style: italic;
	font-size: 14px;
	padding-top: 0;
	margin-top: 0;
}

.animation-box .animation-box-icon {
    width: 111px;
    height: 111px;
    margin: 0 auto;
}







/***** Footer *****/

footer {
	margin: 0 auto;
    padding: 70px 0 55px 0;
    background: #3b404d;
    text-align: center;
}

footer p {
	padding-top: 14px;
	font-family: 'signikalight', sans-serif;
	font-size: 12px;
	color: #818590;
}


